body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

.nav_links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

nav ul li a:visited{
    color: #0000EE;
}

header{
    flex-flow: wrap row;
    justify-content: center;
    position: sticky;
    align-items: flex-start;
}

header:first-of-type{
    position: sticky;
    display: flex;
    justify-content: center;
    flex-basis: auto;
    flex-direction: row;
    overflow-y:auto;
}

.pricing{
    display: flex;
    align-items: center;
    flex-flow: wrap column;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
}

.card header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.gallery img{
    border: solid 10px #50c7c7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#logo{
    animation-name: grow;
    animation-iteration-count: 1;
    animation-duration: 5s;
}

@keyframes grow{
    from {opacity: 0; width: 50px;}
    to {opacity: 1; width: 425px;}
}

@media screen and (min-width: 850px){
header{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    left: 0;
    right: 0;
    align-content: flex-start;
}

.nav_links{
    flex-direction: row;
}

.class{
    display: flex;
    size: 250px;

}

body > header{
    position: sticky;
    top: 0px;
}

.card{
    display: flex;
    flex-basis: 250px;
}

}

@media (prefers-reduced-motion:reduct){
    #logo{
        animation:none;
    }
}

@media print{
body{
    background-image:none;
    background-color: #f1f1f1;
    font-family: serif;
}

.nav_links{
    display: flex;
    flex-direction: row;
    column-gap: 175px;
    justify-content: space-around;   
}

.pricing{
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.card{
    display: flex;
    border: 2px solid #45ADDD;
    flex-basis: 250px;
    flex-wrap: nowrap;
}

.card ul li:nth-child(even)::after {
    content: "\1F44D";
}

.card ul li:nth-child(odd)::before {
    content: "\1F44D";
}

#gallery{
    display: none;
}

.gallery{
    display: none;
}


}